# =====================
# NODE / NEXT.JS
# =====================
node_modules/
.next/
out/
build/
dist/

# =====================
# PYTHON / DJANGO
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environments
.venv/
env/
ENV/

# =====================
# ENV FILES
# =====================
.env
.env.local
.env.*

# =====================
# LOGS
# =====================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =====================
# OS FILES
# =====================
.DS_Store

# =====================
# IDE
# =====================
.vscode/

# =====================
# DEPLOYMENT
# =====================
.vercel/